/**{
	border: blue 2px dotted;
}*/

a:link {
	color: white;
}
a:visited {
	color: black;
}

body {
	background-color: #b40e00;
}

.body-container {
	text-align: center;

}

#wrap {
	width: 900px; 
	margin: 0px auto; 
}

#help-logo{
	text-align: center;
}

#logout {
	text-align: center;
}

.header-links{
	font-size: 2em;
	margin-bottom: 5px;
	text-align: center;
  text-shadow: .5px 0 0 #fff, 0 -.5px 0 #fff, 0 .5px 0 #fff, -.5px 0 0 #fff;
}

#catheter-score{
	font-size: 3em;
	color: white;
	float: right;
}

#map{
	height:500px ;
	width:600px;
	margin: 0px auto;
}

