<!-- users/profile.erb -->
<!DOCTYPE html>
<html>

<body>
<h1>Welcome <%= @user.first_name %>!</h1>

    <h3>Here are all of your hospitals: </h3>
      <% @user.hospitals.each do |hospital| %>
        <a href=<%="/hospitals/#{hospital.id}" %>><%= hospital.name %></a><br>
        <p><%= hospital.rating %></p>
      <% end %>

  </body>
</html>
