<a href="/hospitals/new">New Hospital</a>
<ul>
	<% @hospitals.each do |hospital| %>
		<li>
			<h4><%= hospital.title %></h4>
			<a href="/hospitals/<%= hospital.id %>/edit">Edit</a>
			<form action="/hospitals/<%= hospital.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete hospital">
			</form>
		</li>
	<% end %>
</ul>
