<!-- new.erb -->
<h3>Add a Hospital</h3>
<form action="/hospitals" method="post">
  <input type="text" name="hospital[name]" placeholder="Hospital name"><br>
  <input type="text" name="hospital[location]" placeholder="Description"><br>
  <input type="submit" value="Add Hospital">
</form>

