<a href="/items/new">New Item</a>
<ul>
	<% @items.each do |item| %>
		<li>
			<h4><%= item.title %></h4>
			<a href="/items/<%= item.id %>/edit">Edit</a>
			<form action="/items/<%= item.id %>" method="post">
				<input type="hidden" name="_method" value="delete">	
				<input type="submit" value="Delete item">
			</form>
		</li>
	<% end %>
</ul>