<!-- items/edit.erb -->
<h1>Edit the Item</h1>

<main class="form-wrapper" role="main">
  <form method="post" action="/items/<%= @item.id %>">
    <label>Item name: </label><br>
    <input type="text" name="item[name]" value="<%= @item.name %>"><br>
    <label>Item description:</label><br>
    <input type="text" name="item[description]" value="<%= @item.description %>"><br>
    <label>Reserve price: </label><br>
    <input type="number" name="item[reserve_price]" value="<%= @item.reserve_price %>"><br>
    <input type="hidden" name="_method" value="put">
	<input type="submit" value="Update Item" class="button">
  </form>
</main>