<!-- new.erb -->
<h3>Add an Item</h3>
<form action="/items" method="post">
	<input type="text" name="item[name]" placeholder="Item name"><br>
	<input type="text" name="item[description]" placeholder="Description"><br>
	<input type="number" name="item[reserve_price]" placeholder="Reserve price"><br>
	<input type="submit" value="create item">
</form>

<!-- <form action="/items/#{item.id}" method="post"> -->